.field {
  border-radius: 5px;
  height: 30px;
  width: 100%;
      border-top: 0px solid #7c7c7c;
      border-left: 0px solid #c3c3c3;
      border-right: 0px solid #c3c3c3;
      border-bottom: 0px solid #ddd;
      background: #fff url(/images/fieldbg.gif) repeat-x top;
}
#saveForm {
  height: 37px;
  width: 113px;
  border-radius: 11px;
  border: 2px solid black;
  background-color: white;
  border-radius: 20px;
  color: red;
  font-size: 19px;
}
