<button
  class="snipcart-add-item buy-button hvr-icon-forward"
  data-item-id="1"
  data-item-name="padlock"
  data-item-price="1"
  data-item-weight="20"
  data-item-url="https://briceth.github.io/chen.io/"
  data-item-description="White">
      Add to cart
</button>
