<div class="first_page">

  <div class="col-xs-12 col-sm-6">

    <div class="locki png-white">
      <a href='#' class="hvr-float">
        <%= image_tag 'lock-white.png', width: "350px", id:"lock-white", class: "animated bounceInLeft" %>
      </a>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">

    <div class="locki sentence">
      <h1 class="animated fadeInRight">CHEN</h1>
      <p class="animated fadeInRight">The first connected padlock fot luggage</p>
      <p class="animated fadeInRight">Take care of your suitcase</p>
      <h3 class="animated fadeInRight">Travel smartly</h3>
    </div>
  </div>

</div>
