<div class="first_page">

  <div class="col-xs-12 col-sm-6">

    <div class="locki png-white">
        <%= image_tag 'lock-white.png', width: "340px", id:"lock-white", class: "animated bounceInLeft" %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">

    <div class="locki sentence">
      <h1 class="animated fadeInRight">CHEN</h1>
      <p class="animated fadeInRight">The first connected padlock for luggage</p>
      <p class="animated fadeInRight">Take care of your suitcase</p>

      <ul class="list-inline list-features">
        <li><a href='#' class="hvr-float"><%= image_tag 'weight.png', width: '62px', height: '62px', class: "border-feature hvr-float animated fadeInUp", id: "weight-animation" %></a></li>
        <li><a href='#' class="hvr-float"><%= image_tag 'tracking.png', width: '62px', height: '62px', class: "border-feature hvr-float animated fadeInUp", id: "tracking-animation" %></a></li>
        <li><a href='#' class="hvr-float"><%= image_tag 'padlock.png', width: '62px', height: '62px', class: "border-feature hvr-float animated fadeInUp", id: "padlock-animation" %></a></li>
      </ul>
    </div>

  </div>

</div>
