<div class="row">
  <div class='col-xs-12 col-sm-10'>
  <%= image_tag "dimension.png", width: "80%", height: "80%", id: "dimension-image" %>



  <%= image_tag 'weight.png', width: '62px', height: '62px', class: "border-feature hvr-float animated fadeInUp", id: "weight-animation" %>

  </div>
</div>
