  <style>
    .flex-specifications {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
  </style>

  <div class='columns'>

      <div class='column'>
        <%= image_tag "dimension.png", width: "80%", height: "80%", id: "dimension-image" %>
      </div>


    <div class='columns is-mobile carac-right'>
      <div class='column is-half flex-specifications'>
        <div class='spec text-center'>
          <div class='spec-title'><strong>Display</strong></div>
          <div class='spec-description'><p>LED Light</p></div>
        </div>
        <div class='spec text-center'>
          <div class='spec-title'><strong>Resistance</strong></div>
          <div class='spec-description'><p>EN 12320 Resistance Norm</p></div>
        </div>
        <div class='spec text-center'>
          <div class='spec-title'><strong>Waterproof resistance</strong></div>
          <div class='spec-description'><p>IP 64</p></div>
        </div>
      </div>
      <div class='column is-half flex-specifications'>
        <div class='spec text-center'>
          <div class='spec-title'><strong>Compatibility</strong></div>
          <div class='spec-description'><p>IOS & Android Compatible</p></div>
        </div>
        <div class='spec text-center'>
          <div class='spec-title'><strong>Bluetooth</strong></div>
          <div class='spec-description'><p>Low energy</p></div>
        </div>
        <div class='spec text-center'>
          <div class='spec-title'><strong>Conformism</strong></div>
          <div class='spec-description'><p>TSA Norme</p></div>
        </div>
      </div>

    </div>
</div>

