<div class="row">

  <div class="col-xs-12 col-sm-6 col-sm-offset-1">

     <%= image_tag 'bagage.jpg', width: "550px" %>

  </div>

  <div class='col-xs-12 col-sm-4'>

    <div class='second'>
      <ul class="list-inline">
        <li><%= image_tag 'weight.png', width: '70px', class: "icone-second-page hvr-float" %>
          <p>WEIGHING</p></li>
        <li><%= image_tag 'tracking.png', width: '70px', class: "icone-second-page hvr-float" %>
          <p>GEO TRACKING</p></li>
        <li><%= image_tag 'padlock.png', width: '70px', class: "icone-second-page hvr-float" %>
          <p>PADLOCK</p></li>
      </ul>

    </div>

  </div>

</div>
