<div class="first_page">
  <div class="col-xs-12 col-sm-6">
    <div class="locki">
    <%= image_tag 'lock-white.png', width: "350px", id:"lock-white", class: "animated bounceInLeft" %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class=" locki sentence">
      <h1>CHEN</h1>
      <p>The first connected padlock fot luggage</p>
      <p>Take care of your suitcase</p>
      <h3>Travel smartly</h3>
    </div>
  </div>
</div>
