<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="adress">
            <h3>Adresse</h3>
            <p>5 allée des capucins</p>
            <p>78000</p>
            <p>Versailles</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="contact">
            <h3>Contact</h3>
            <p>06 18 03 96 13</p>
            <p>06 31 30 60 97</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="assistance">
            <h3>Assistance</h3>
            <p>01 43 56  78 39</p>
            <p>7j/7</p>
            <p>24h/24</p>
          </div>
        </div>
      </div>
    </div>
  </div>
