<div class="iphone-icone">
  <div class="col-xs-7 col-sm-3">
    <div class="padlock">
    <%= image_tag 'iphone1.png', class: "iphone-png" %>

    </div>
  </div>

  <div class="col-xs-7 col-sm-3">
    <div class="padlock">
      <%= image_tag 'iphone2.png', class: "iphone-png" %>
    </div>

  </div>
  <div class="col-xs-7 col-sm-3">
    <div class="padlock">
      <%= image_tag 'iphone3.png', class: "iphone-png" %>
    </div>

  </div>
</div>
