<div class="iphone-icone">
  <div class="col-xs-7 col-sm-3">
    <div class="padlock">
    <%= image_tag 'iphone1.png', class: "iphone-png" %>
        <%#= image_tag 'padlock.png', width: '50px', class: "icone" %>
    </div>
  </div>

  <div class="col-xs-7 col-sm-3">
    <div class="padlock">
      <%= image_tag 'iphone2.png', class: "iphone-png" %>
    </div>

    <%#= image_tag 'tracking.png', width: '50px', class: "icone" %>

  </div>
  <div class="col-xs-7 col-sm-3">
    <div class="padlock">
      <%= image_tag 'iphone3.png', class: "iphone-png" %>
    </div>

    <%#= image_tag 'weight.png', width: '50px', class: "icone" %>
  </div>
</div>
