<div class='row'>

  <div class='col-xs-12 col-sm-4'>

    <%= image_tag 'lock-black.png', width: '300px' %>
    <div class='paragraphe'>
    <p>A GPS and GSM chip allows you
      to track your luggage
      throughout the world and to
      follow it with the app</p>
    </div>
  </div>

  <div class='col-xs-12 col-sm-4'>

    <%= image_tag 'openpadlock.png', width: '300px' %>
    <div class='paragraphe'>
    <p>The device has an integrated
      steel hook which allows you to
      weigh all kinds of luggage, the
      result is then transmitted directly
      to the app.</p>
    </div>
  </div>

  <div class='col-xs-12 col-sm-4'>

    <%= image_tag 'crochet-rouge.png', width: '300px' %>
    <div class='paragraphe'>
    <p>You can lock and unlock your
      piece of luggage via the app
      with the key never having to
      leave your pocket.</p>
    </div>
  </div>

</div>
