<div class='row'>

  <div class='col-xs-12 col-sm-4'>

    <%= image_tag 'lock-black.png', width: '250px' %>
    <div class='paragraphe'>
    <p>A <strong>GPS</strong> and <strong>GSM</strong> chip allows you
      to track your luggage
      throughout the world and to
      follow it with the app</p>
    </div>
  </div>

  <div class='col-xs-12 col-sm-4' id='middle-padlock'>

    <%= image_tag 'openpadlock.png', width: '250px' %>
    <div class='paragraphe' id='p-middle-padlock'>
    <p>The device has an integrated
      steel hook which allows you to
      <strong>weigh all kinds of luggage</strong>, the
      result is then transmitted directly
      to the app.</p>
    </div>
  </div>

  <div class='col-xs-12 col-sm-4'>

    <%= image_tag 'crochet-rouge.png', width: '250px' %>
    <div class='paragraphe'>
    <p>You can <strong>lock and unlock</strong> your
      piece of luggage via the app
      with the key never having to
      leave your pocket.</p>
    </div>
  </div>

</div>
