<div class="padlock-icone">

  <div class="col-xs-12 col-sm-3">

    <a href='#' class="hvr-float">
      <%= image_tag 'lock-brun.png', width: "250px", id:"lock-brun", class: "animated icones" %>
    </a>
      <p class="animated edition">Brown edition</p>
  </div>

  <div class="col-xs-12 col-sm-3">
    <a href='#' class="hvr-float">
      <%= image_tag 'lock-black.png', width: "250px", id:"lock-black", class: "animated icones" %>
    </a>
      <p class="animated edition">Black edition</p>
  </div>

  <div class="col-xs-12 col-sm-3">
    <a href='#' class="hvr-float">
      <%= image_tag 'padlock-red.png', width: "250px", id:"lock-red", class: "animated icones" %>
    </a>
      <p class="animated edition">Red edition</p>
  </div>

  <div class="col-xs-12 col-sm-3">
    <a href='#' class="hvr-float">
      <%= image_tag 'lock-white.png', width: "250px", id:"lock-white", class: "animated icones" %>
    </a>
      <p class="animated edition">White edition</p>
  </div>

  <div class="col-xs-12 col-sm-6 col-sm-offset-5">
    <div class="button-order animated">

      <%#= partial "partials/button-snipcart" %>

    </div>
  </div>

</div>
