<div class="row">
  <div class="partner-component">

    <div class='col-xs-12 col-sm-6 col-sm-offset-4'>
      <div class='partners-title ptn animated'>
        <h2 style="padding-left: 120px;">partners</h2 style="">
      </div>
    </div>

    <div class='partner-picture ptn animated'>
      <div class="col-xs-6 col-sm-3 col-sm-offset-1">
        <%= image_tag 'Sophia_Conseil.png', id: "sophia" %>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= image_tag 'sigfox.png', id: "sigfox" %>
      </div>
      <div class="col-xs-6 col-xs-offset-1 col-sm-3">
        <%= image_tag 'PNDI.png', id: "pndi" %>
      </div>
    </div>

  </div>
</div>
