<div class="row">
  <div class="partner-component">

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'Sophia_Conseil.png', width: "200px" %>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'PNDI.png', width: "450px" %>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'sigfox.png', width: "225px" %>
  </div>

  </div>
</div>
