<div class='row'>

  <div class='col-xs-12 col-sm-6 col-sm-offset-2'>

    <div class='planning'>

      <%= image_tag "Planning-site.png", width: "139%", height: "450px" %>

    </div>

  </div>

</div>
