<div class="row">
  <div class="profile-component">

  <div class="col-xs-12 col-sm-6">
    <%= image_tag 'vladimir2.jpg', class: "profile-picture img-circle" %>
    <p>Alban de Lanouvelle</p>
    <p>CEO</p>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag 'alban2.jpg', class: "profile-picture img-circle" %>
    <p>Vladimir Bricout</p>
    <p>CTO</p>
  </div>

  </div>
</div>
