<div class="row">
  <div class="profile-component">

    <div class="col-xs-12 col-sm-6">
      <div id='alban'>
        <div class="card board animated" style="background-image: url('images/vladimir2.jpg');">
          <div class='card-description'>
            <h2>Alban de Lanouvelle</h2>
            <p>CEO</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div id='vladimir'>
        <div class="card board animated" style="background-image: url('images/alban2.jpg');">
          <div class='card-description'>
            <h2>Vladimir Bricout</h2>
            <p>CTO</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div id='brice'>
        <div class="card employee animated" style="background-image: url('images/briceth.jpg');">
          <div class='card-description'>
            <h2>Brice Tessier Huort</h2>
            <p>Développeur</p>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xs-12 col-sm-6">
      <div id='patrick'>
        <div class="card employee animated" style="background-image: url('images/Naveau_Web.jpg');">
          <div class='card-description'>
            <h2>Patrick Naveau</h2>
            <p>Designer</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
