<div class="row">
  <div class="profile-component">

    <div class="col-xs-12 col-sm-6">
      <div class="card" style="background-image: url('images/vladimir2.jpg');">
        <%#= image_tag 'vladimir2.jpg', class: "profile-picture img-circle" %>
        <div class='card-description'>
          <h2>Alban de Lanouvelle</h2>
          <p>CEO</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="card" style="background-image: url('images/alban2.jpg');">
        <%#= image_tag 'vladimir2.jpg', class: "profile-picture img-circle" %>
        <div class='card-description'>
          <h2>Vladimir Bricout</h2>
          <p>CTO</p>
        </div>
      </div>
    </div>

      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background-image: url('images/brice_tessier_huort.JPG');">
          <%#= image_tag 'vladimir2.jpg', class: "profile-picture img-circle" %>
          <div class='card-description'>
            <h2>Brice Tessier Huort</h2>
            <p>Développeur</p>
          </div>
        </div>
      </div>


    <div class="col-xs-12 col-sm-6">
      <div class="card" style="background-image: url('images/Naveau_Web.jpg');">
        <%#= image_tag 'vladimir2.jpg', class: "profile-picture img-circle" %>
        <div class='card-description'>
          <h2>Patrick Naveau</h2>
          <p>Designer</p>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Some stuff</h2>
    <p>Very cool stuff, useful and smart</p>
  </div>
  <img class="card-user avatar" src="user.jpg">
  <a class="card-link" href="#" ></a>
</div> -->
