<div class="row">
  <div class="profile-component">

    <div class="col-xs-12 col-sm-6">
      <%= image_tag 'vladimir2.jpg', class: "profile-picture img-circle" %>
      <p>Alban de Lanouvelle</p>
      <p>CEO</p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= image_tag 'alban2.jpg', class: "profile-picture img-circle" %>
      <p>Vladimir Bricout</p>
      <p>CTO</p>
    </div>

  </div>
</div>

<!-- <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Some stuff</h2>
    <p>Very cool stuff, useful and smart</p>
  </div>
  <img class="card-user avatar" src="user.jpg">
  <a class="card-link" href="#" ></a>
</div> -->
