.button-order {
  margin-left: 4%;
}
.buy-button {
  border: 2px solid #2A528A;
  padding: 12px;
  font-size: 15px;
  padding-right: 2px;
  border-radius: 3px;
  background-color: white;
  color: #2A528A;
  &:hover {
    color: white;
    text-decoration: none;
    background-color: #F35B25;
    border: 2px solid #F35B25;
    transition: background-color 0.5s ease;
    border-radius: 3px;
  }
}
@media(min-width: 320px){
  .buy-button {
    margin-left: 19%;
  }
}
@media (min-width: 750px) {
  .buy-button {
    margin-left: 0%;
  }
}
