#lock-wrapper {
  position: relative;
}
.lock {
  position: absolute;
  bottom: 120px;
}
#lock-brun {
  left: 150px;
}
#lock-white {
  left: 204px;
}
#lock-black {
  left: 256px;
}
#lock-red {
  left: 311px;
}
