/* Footer design */
.footer {
  background: $dark-blue;
  padding: 30px 0px;
  h3 {
    color: $red;
  }
  p {
    color: white;
    &:hover {
      color: #333333;
       transition: all 0.3s ease;
    }
  }
}
