/* Footer design */
.footer {
  background: #2D2D2D;
  padding: 30px 0px;
  h3 {
    color: grey;
  }
  p {
    color: white;
    &:hover {
      color: #333333;
       transition: all 0.3s ease;
    }
  }
}
