body h1, h2, h3, p {
  font-family: 'Montserrat', sans-serif;

}
.first_page {
  min-height: 100vh;
  margin-top: 99px;
}
.locki {
  padding-left: 50px;
}
.sentence {
  position: absolute;
  h1 {
  position: relative;
  top: 170px;
  }
  p {
  position: relative;
  top:190px;
  }
  h3{
    position:relative;
    top:255px;
  }
}

