@import "./config/variables";

body h1, h2, p, span {
  //font-family: $base-font;
  line-height: $base-height;
}

h1 {
  font-size: 70px;
}
p {
  font-size: $large-base-size;
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sentence > h1 {
  -webkit-animation-duration: 1.7s;
  -webkit-animation-delay: 0.6s;
}
.sentence > p {
  -webkit-animation-duration: 1.7s;
  -webkit-animation-delay: 0.8s;
}
#weight-animation {
   -webkit-animation-duration: 1.7s;
  -webkit-animation-delay: 01.1s;
}
#padlock-animation {
 -webkit-animation-duration: 1.7s;
  -webkit-animation-delay: 01.3s;
}
#tracking-animation {
 -webkit-animation-duration: 1.7s;
  -webkit-animation-delay: 01.5s;
}
.first_page {
  min-height: 100vh;
  margin-top: 99px;
}
 .locki {
   padding-left: 50px;
 }
.sentence {
  height: 478px;
  position: absolute;
  h1 {
  position: relative;
  top: 170px;
  }
  p {
  position: relative;
  top:190px;
  }
  li{
    position: relative;
    top: 183px;
    left: 10px;
  }
}
.border-feature {
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
}
@media(min-width: 320px){
  .first_page {
    min-height: 77vh;
    margin-top: 60px;
  }
  .png-white {
    display: none;
  }
  .sentence {
    opacity: 1;
    h1 {
    top: 100px;
    }
    p {
    top:130px;
    }
    h3{
    top:170px;
    }
  }
}
@media(min-width: 768px){
  .first_page {
    min-height: 100vh;
    // margin-top: 99px;
  }
  .png-white {
    display: block;
  }
  .sentence {
    opacity: 1;
  }
}
// @media(min-width: 992px){
//   #chatroom {
//     width: 100%;
//     padding-left: 5em;
//   }
// }
// @media(min-width: 1200px){
//   #chatroom {
//     width: 100%;
//   }
// }
