body h1, h2, h3, p {
  font-family: 'Montserrat', sans-serif;
  // color: white;

}

// body {
//   background-color: #222222;
// }
.sentence > h1 {
  -webkit-animation-duration: 1.7s;
  -webkit-animation-delay: 0.6s;
}
.sentence > p {
  -webkit-animation-duration: 1.7s;
  -webkit-animation-delay: 0.8s;
}
.sentence > h3 {
  -webkit-animation-duration: 1.7s;
  -webkit-animation-delay: 01.1s;
}

.first_page {
  min-height: 100vh;
  margin-top: 99px;
}
.locki {
  padding-left: 50px;
}
.sentence {
  position: absolute;
  h1 {
  position: relative;
  top: 170px;
  }
  p {
  position: relative;
  top:190px;
  }
  h3{
    position:relative;
    top:255px;
  }
}

@media(min-width: 320px){
  .png-white {
    display: none;
  }
  .sentence {
    opacity: 1;
    h1 {
    top: 100px;
    }
    p {
    top:130px;
    }
    h3{
    top:170px;
    }
  }
}
@media(min-width: 768px){
  .png-white {
    display: block;
  }
  .sentence {
    opacity: 1;
  }
}
// @media(min-width: 992px){
//   #chatroom {
//     width: 100%;
//     padding-left: 5em;
//   }
// }
// @media(min-width: 1200px){
//   #chatroom {
//     width: 100%;
//   }
// }
