// .details-view {
//   min-height: 100vh;
// }

// .display-caracteristique {
//   display: flex;
//   //border: 10px solid goldenrod;
//   align-content: flex-start;
//   flex-wrap: wrap;
//   }
// .box {
//   width: 50%;
// }
.spec-description p {
  font-size: 15px;
}
.flex-specifications {
  display: flex;
    justify-content: space-around;
    flex-direction: column;

}
