.details-view {
  background-color: whitesmoke;
}

.spec-description p {
  font-size: 15px;
}

@media(max-width: 900px) {
  #dimension-image {
    width: 100%;
  }
}

@media(min-width: 900px) {
  .carac-right {
    padding-right: 6%;
  }
}
