
.second_page {
  min-height: 100vh;
  position:relative;
}
.icone {
  position:absolute;
  border: 1px solid black;
  border-radius: 50%;
  padding: 15px;
  margin: 15px;
}

#weight {
  right: 100px;
  top: 100px;
}
#tracking {
  left: 100px;
  top: 100px;
}
#padlock {
  right: 100px;
  bottom: 100px;
}
#battery {
  left: 100px;
  bottom: 100px;
}
