.first_page {
  min-height: 100vh;
}
.locki {
  padding-left: 50px;
}
.sentence {
  position: absolute;
  h1 {
  position: relative;
  top: 170px;
  }
  p {
  position: relative;
  top:190px;
  }
  h3{
    position:relative;
    top:255px;
  }
}

