.iphone {
  min-height: 100vh;
}
.iphone-icone {
  padding-right: 80px;
}

.padlock {
  padding-left: 20px;
}

@media(min-width: 320px){
  .iphone-png {
    width: 340px;
  }
}

@media(min-width: 768px){
  .iphone-png {
    width: 600px;
  }
}
