@import "./config/variables";

.offer {
  min-height: 100vh;
  padding-left:5%;
}

.paragraphe {
  width: 77%;
  padding-left: 4%;
  p {
    font-size: $base-size;
    //font-family: $base-font;
    line-height: $base-height;
  }
}
#middle-padlock {
  padding-top: 3%;
}
#p-middle-padlock {
  padding-top: 5%;
}

@media(max-width: 400px){
  .offer {
    padding-left:15%;
    margin-bottom: 30px;
  }
}
