@import "./config/variables";

.offer {
  min-height: 100vh;
}

.paragraphe {
  width: 77%;
  padding-left: 4%;
  p {
    font-size: $base-size;
    //font-family: $base-font;
    line-height: $base-height;
  }
}
#middle-padlock {
  padding-top: 3%;
}
#p-middle-padlock {
  padding-top: 5%;
}
