.padlock-view {
  height: 90vh;
  padding-top: 7%;
}

.padlock-icone p {
  font-size: 20px;
}
.button-order {
  padding-top: 50px;
  width: 204px;
}

@media(min-width: 320px){
  .btn-order {
    //padding: 11px 25px;
    font-size: 19px;
    margin-left: 3.5em;
  }
  .button-order {
    //margin-bottom: 6em;
    // padding-left: 16px;
  }
  .padlock-icone p {
    padding-left: 39px;
  }
}
@media(min-width: 768px){
  .btn-order {
    padding: 21px 35px;
    font-size: 29px;
    margin-left: 3em;
  }
  .button-order {
    margin-bottom: 0;
  }
  .padlock-icone {
    padding-left: 0;
  }
  .padlock-icone p {
    padding-left: 63px;
  }
}
