.padlock-view {
  height: 100vh;
}

.padlock-icone p {
  padding-left: 75px;
  font-size: 20px;
}
.button-order {
  padding-top: 50px;
  width: 204px;
}

@media(min-width: 320px){
  .btn-order {
    padding: 11px 25px;
    font-size: 19px;
    margin-left: 3.5em;
  }
  .button-order {
    margin-bottom: 6em;
  }
  .padlock-icone {
    padding-left: 3em;
  }
}
@media(min-width: 768px){
  .btn-order {
    padding: 21px 35px;
    font-size: 29px;
    margin-left: 3em;
  }
  .button-order {
    margin-bottom: 0;
  }
  .padlock-icone {
    padding-left: 0;
  }
}
