.partner {
  min-height: 60vh;
}

@media(min-width: 320px){
  #sophia {
    width: 90px;
  }
  #sigfox {
    width: 100px;
  }
  #pndi {
    width: 300px;
  }
  .partner {
    padding-left: 3em;
    padding-top: 7em;
  }
}

@media(min-width: 768px){
  #sophia {
    width: 150px;
  }
  #sigfox {
    width: 150px;
  }
  #pndi {
    width: 390px;
  }
  .partner {
    padding-left: 0;
    padding-top: 1em;
  }
}
