.profile {
  min-height: 100vh;
}
.profile-picture {
  box-shadow: 0 12px 66px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 366px;
  height: 340px;
}
.profile-component {
  padding-left: 70px;
}
