<div class='wrapper'>
  <div class='container'>
    <div class='row'>
      <div class='about'>
        <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
          <p>The CHEN adventure brings together two friends who share a

            passion for travel.

            From a young age, Alban and Vladimir have been lucky enough to

            travel the world, exploring countries and cultures, learning

            languages, studying, working.

            It was only later that they met in Paris. It is during an innovation

            contest for the best groundbreaking invention that Alban and

            Vladimir began collaborating to find that life-changing idea.

            They decided to focus on their shared love of travel, and past

            experiences of losing luggage, never-ending waits at the conveyor

            belt, stressing-out, worrying about being fined for excess baggage...

            Both having a keen interest in new technology, they came up with

            the idea of a connected padlock that would combine functionalities

            to take care of those travel-related issues.

            Having presented their idea, they later won the competition and

            decided to throw themselves into the entrepreneurial world by
            setting up CHEN.</p>
            <%= link_to "Go Back", "/", class: "button is-dark" %>
        </div>
      </div>
    </div>
  </div>
</div>

