---
title: Le Wagon Middleman boilerplate
---

<div class="welcome text-center padded">
  <h1>Welcome to Chen</h1>
  <p class="doc">
  hello tout le monde
    <%#= link_to "Read Online babe Documentation", "http://middlemanapp.com/" %>
  </p>
</div>
